.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.marginTop {
  margin-top: 2.5%;
}

.marginTopRight {
  margin-top: 6%;
  margin-right: 5%;
}

.marginAll {
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.marginTopMap {
  margin-top: 4%;
}

.marginTopMojaPiva {
  margin-top: 6%;
}

.marginTopIskanje {
  margin-top: 6%;
}

.App-link {
  color: #61dafb;
}

.fontsize {
  font-size: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

